@import url(reset.css);

/* Globals variables*/
:root {
    font-size: 18px;
    /*Primary colors*/
    --color-background: white;
    --color-projects: #ebebeb;
    --color-footer: #1e292f;


    /*Text Colors and links*/
    --color-text: #28363d;
    --color-text-accent: #8198a0;
    --color-icons: white;
    --color-icons-accent: skyblue;
}

/* Fonts*/
body {
    font-size: 1rem;
    /* font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* fin font */
    line-height: 1.5;
    color: var(--color-text);
}

.container {
    max-width: 87.5rem;
    width: 100%;
    margin: 0 auto;


}

p {
    text-align: center;
    line-height: 2;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4rem;
}

/*   hero    */
.hero {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 100vh;


}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero h1 {
    text-align: center;
    font-size: 2.24rem;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding-top: 15rem;
}

.hero p {
    letter-spacing: 15px;
    text-transform: uppercase;
    color: var(--color-text-accent);
    padding-top: 29px;
}


/*   Main    */
.welcome {
    padding-top: 9.4rem;
    padding-bottom: 8rem;
}

.welcome p {
    max-width: 45rem;
}

.projects {
    background: var(--color-projects);
    padding-top: 6.6rem;
    padding-bottom: 15rem;
}

.projects p {
    max-width: 37rem;
}


.wrapper {
    max-width: 87.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5.4rem;

}


.wrapper>div {

    padding: 1rem;


}


/*   Footer    */
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: var(--color-footer);

}

footer p {
    color: white;
    text-transform: uppercase;
    padding-top: 3.4rem;
    padding-bottom: 1.5rem;
    letter-spacing: 6px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding-bottom: 4rem;
    font-size: 1.6rem;

}

a {
    color: var(--color-icons);
}

a:hover {
    color: var(--color-icons-accent);
}
@media (min-width:1000px) {

    :root {
        font-size: 16px;

    }

    .wrapper {
        max-width: 87.5rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5.4rem;

    }


    .wrapper>div {

        padding: 1rem;


    }

    .container {
        max-width: 87.5rem;
        width: 100%;
        margin: 0 auto;


    }

    .projects {
        background: var(--color-projects);
        padding-top: 6.6rem;
        padding-bottom: 15rem;
    }

    .hero h1 {
        text-align: center;
        font-size: 2.24rem;
        letter-spacing: 15px;
        text-transform: uppercase;
        padding-top: 15rem;
    }

    .hero p {
        letter-spacing: 15px;
        text-transform: uppercase;
        color: var(--color-text-accent);
        padding-top: 29px;
    }







}